@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts/AdobeCleanBlack.otf);
}

.top-center {
    padding: 1rem;
}

.top-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    height: 7rem;
    background: rgb(203, 0, 255);
    background: linear-gradient(90deg,
            rgba(203, 0, 255, 1) 0%,
            rgba(206, 5, 240, 1) 3%,
            rgba(231, 47, 142, 1) 45%,
            rgba(232, 48, 139, 1) 46%,
            rgba(248, 75, 75, 1) 81%,
            rgba(255, 86, 51, 1) 100%);
}

h1 {
    font-family: "Adobe Clean";
}

.agenda-content-bangalore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agenda-content-noida {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agenda-head{
    padding: 1rem;
    font-family: "Adobe Clean Regular";
}

.agenda-buttons button {
    border: none;
    background-color: transparent;
    font-family: "Adobe Clean";
    color: white;
}

.agenda-buttons button:hover {
    text-decoration: underline;
}

.agenda-buttons {
    padding-bottom: 1rem;
}

.agenda-svg {
    padding: 2rem;
}

.agenda-svg svg {
    height: 70rem;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .agenda-svg svg {
        height: 50rem;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .agenda-svg svg {
        height: 30rem;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .agenda-svg svg {
        height: 20rem;
        width: 100%;
    }
}