@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts);
}

.container-for-padding{
    padding: 3rem
}

.contact-heading {
    /* margin: auto; */
    /* width: 70%; */
    /* font-family: "Adobe Clean Regular", sans-serif; */
    font-family: "Adobe Clean";
    display: flex;
    justify-content: center;
}

.contact-cards {
    padding: 1rem;
}

.contacts {
    padding: 2rem 0;
}

.card {
    /* min-height: 30rem; */
    /* max-height: 20rem ; */
    text-align: center;
}

.card-text {
    /* min-height: 6rem; */
    font-size: 400;
}

.contact-links {
    display: flex;
    justify-content: center;
}

.card-body {
    /* background-color: #9b261b; */
    /* background: linear-gradient(
    90deg,
    rgba(203, 0, 255, 1) 0%,
    rgba(206, 5, 240, 1) 3%,
    rgba(231, 47, 142, 1) 45%,
    rgba(232, 48, 139, 1) 46%,
    rgba(248, 75, 75, 1) 81%,
    rgba(255, 86, 51, 1) 100%
  ); */
    border-radius: 5px;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(90deg, #d20be1, #ca403b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    border-radius: 0.45rem;
    padding-bottom: 1rem;
    height: 25rem;
}

.card-body p.card-title,
.card-body p.card-name {
    font-family: "Adobe Clean Light", sans-serif;
}

.card-body p.card-name {
    font-family: "Adobe Clean Regular", sans-serif;
    font-weight: 600;
}

.card-body p.card-title {
    color: black;
    font-family: "Adobe Clean";
    min-height: 3rem;
}

.for-bg {
    padding: 1rem 0;
    background-color: white;
    border-radius: 5px;
}

.for-bg p {
    color: #9b261b;
}

.card-img {
    padding-bottom: 2rem;
}

.card-img img {
    width: 30%;
    border-radius: 50%;
}

.card-body p {
    font-family: "Adobe Clean Light", sans-serif;
}

hr {
    color: #9b261b !important;
    border-top: 1px solid !important;
}

@media screen and (max-width:767.5px){

    .card-body{
        height: 30rem;
    }

}

@media screen and (max-width:668.5px){

    .card-body{
        height: 29rem;
    }

}

@media screen and (max-width:609.5px){

    .card-body{
        height: 28rem;
    }

}


@media screen and (max-width:550.5px){

    .card-body{
        height: 26rem;
    }

}

@media screen and (max-width:472.5px){

    .card-body{
        height: 27rem;
    }

}


@media screen and (min-width:1476.5px){

    .card-body{
        height: 27rem;
    }

}