@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts/AdobeCleanBlack.otf);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Adobe Clean";
    padding-top: 1rem;
}

span{
    display: flex;
    justify-content: center;
    font-family: "Adobe Clean Regular";
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1rem
}


/* figure {
    display: inline-block;
    width: 33.333%;
    float: left;
} */

.gallery-container img {
    width: 100%;
    max-height: 10rem;
    /* padding: 3rem; */
    object-fit: cover;
}

/* .spacer {
    height: 5em;
} */