@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts/AdobeCleanBlack.otf);
}


/* 
.fixed-top.scrolled {
    background-color: rgb(0, 0, 0, 0.7) !important;
    transition: background-color 0.5s;
}

.fixed-top.scrolled .nav-link-1 {
    color: white;
} */

/* .bg-rr{
    background-color: black
} */

/*Header*/

.for-grad-line {
    height: 0.5rem;
    background: rgb(203, 0, 255);
    background: linear-gradient(90deg,
            rgba(203, 0, 255, 1) 0%,
            rgba(206, 5, 240, 1) 3%,
            rgba(231, 47, 142, 1) 45%,
            rgba(232, 48, 139, 1) 46%,
            rgba(248, 75, 75, 1) 81%,
            rgba(255, 86, 51, 1) 100%);
}


.navbar.navbar-expand-lg{
    padding: 1.25rem 1.5rem;
}

.bg-rr .navbar-nav .nav-item .nav-link-1 {
    color: white;
}

.for-bg-team {
    background-color: white;
}

.for-bg-team .navbar-nav .nav-item .nav-link-1 {
    color: black;
}

.navbar .navbar-brand {
    margin: 0;
    width: 35%;
}

.navbar .navbar-brand .header-navbar-logo {
    padding-left: 4rem;
    width: 57%;
}

.collapse {
    justify-content: center;
}

.nav-bar {
    font-style: normal;
}

.nav {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

nav {
    min-height: 6rem;
}

.nav-item {
    font-family: "Adobe Clean Light", sans-serif;
    margin-left: 2rem;
    /* margin-right: 2rem; */
    padding: 0;
}

.for-b {
    background-image: url("../images/carousel-bg.jpg");
}

.hero-section {

    padding: 0 3rem;
}

.nav-link-1 {
    font-size: 0.95rem;
    color: black;
    text-decoration: none;
    width: 25%;
    /* transition: all 0.5s; */
    font-weight: bolder;
}

.hero-section .carousel-indicators button {
    height: 0.5rem !important;
    width: 0.5rem !important;
    margin: 0 0.5rem !important;
    border-radius: 100%;
    /* background-color: #6e2c90 !important; */
}


.hero-section .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -7 32 32' fill='%23000'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
    /* width: 100%;
    margin: auto; */
}

.hero-section .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -7 32 32' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}


.nav-link-1:hover {
    /* font-size: 1.2rem; */
    text-decoration: underline;
    color: black;
    width: 20%;
}

@media screen and (max-width: 991.5px) {
    .navbar .navbar-brand {
        margin: 0;
    }

    .navbar .navbar-brand .header-navbar-logo {
        width: 50%;
        padding: 0;
    }

    .navbar.navbar-dark.navbar-expand-lg {
        padding: 1.5rem;
    }

    .nav-item {
        padding: 1rem 0 1rem 0;
        display: block;
    }

    /* 
    .navbar .container .collapse ul li{
      font-size: 0.5rem;
    } */
}

@media screen and (max-width: 441.5px) {
    .navbar .navbar-brand {
        margin: 0;
    }

    .navbar .navbar-brand .header-navbar-logo {
        padding-left: 0;

        width: 20%;
    }
}

@media screen and (max-width: 377.5px) {
    .navbar-brand {
        width: 70%;
    }
}

.for-bg img {
    /* background-image: url("../images/carousel-bg.png"); */
    width: 80%;

}

.full-carousel .carousel-item .w-100 {
    width: 92% !important;
    margin: auto;
}

.full-carousel .carousel-item img {
    border: 1px grey solid;
    /* box-shadow: 5px 10px 8px grey; */
}

.carousel-indicators button {
    height: 0.5rem !important;
    width: 0.5rem !important;
    margin: 0 0.5rem !important;
    border-radius: 100%;
}

.full-carousel {
    padding: 1rem 10rem 2rem 10rem;
    position: relative;
}

.full-carousel .carousel-control-next,
.full-carousel .carousel-control-prev {
    opacity: 1 !important;
    top: 2rem;
}

.full-carousel .carousel-control-next-icon,
.full-carousel .carousel-control-prev-icon {
    background-color: #ede6e6;
    border-radius: 0.1rem;
    padding: 0.5rem;
}

.full-carousel .carousel .carousel-control-prev {
    left: -3rem;
}

.full-carousel .carousel .carousel-control-next {
    right: -3rem;
}

@media screen and (max-width: 800px) {
    .full-carousel {
        padding: 1rem 5rem 2rem 5rem;
    }
}

@media screen and (max-width: 600px) {
    .full-carousel {
        padding: 0;
    }

    .full-carousel .carousel-control-next-icon,
    .full-carousel .carousel-control-prev-icon {
        display: none;
    }

   
}

@media screen and (max-width: 300px) {
    .full-carousel {
        padding: 0;
    }
}

@media screen and (max-width: 1199.5px){
    .navbar .navbar-brand {
        margin: 0;
        width: 30%;
    }

    .navbar .navbar-brand .header-navbar-logo{
        /* margin: 0; */
        width: 70%;
    }


}


@media screen and (max-width: 603.5px){

    .navbar .navbar-brand .header-navbar-logo{
        /* margin: 0; */
        width: 90%;
    }

    .navbar.navbar-expand-lg{
        padding: 0;
    }



}







@media screen and (max-width: 448.5px){

    .navbar .navbar-brand .header-navbar-logo{
        /* margin: 0; */
        width: 115%;
    }


}