/* .container {
    position: relative;
    text-align: center;
    color: white;
} */

.for-bg-team {
    background-color: white;
}

/* top center text */
.top-center h1{
    /* position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-family: "Adobe Clean";
    /* background-image: linear-gradient(45deg, #d20be1, #ca403b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
    color: black;
    /* font-size: x-large; */
}

.cmp-team-container {
    padding-top: 1rem;
    background: #e6e6e6;
}

.top-center {
    text-align: center;
}

.card-body {
    border-bottom: 1px solid #707070;
}

.border-remove{
    border:none
}

.container-wrapper {
    padding: 3rem 4rem 0 4rem;
}

.column-left-image {
    padding-left: 3rem;
}



.card-body-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* background-image: linear-gradient(90deg, #d20be1, #ca403b); */
    /* background-color: black; */
    /* border-radius: 1rem; */
    /* border: transparent solid 0.2rem;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #3d3d3d, grey);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px; */
  border-radius: 5px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #d20be1, #ca403b);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #e6e6e6 inset;
    margin: 1rem;
}

@media screen and (max-width: 400px) {
    .card-body-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .card-body-wrapper .card-content{
        text-align: center;
        font-size: xx-small;
    }

    .container-wrapper{
        padding: 3rem 1rem 0 1rem;
    }
}

.card-body-wrapper .card-img {
    width: 30%;
    /* height: auto; */
    margin-bottom: 1rem;
    float: right;
}

.contact-heading {
    color: black;
}

.card-body-wrapper .card-content {
    color:black;
    font-size: 0.9rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body-wrapper .card-content .card-name {
    font-weight: 700;
}

.card-body-wrapper .card-img img {
    border-radius: 50%;
    width: 85%;
}

@media screen and (max-width: 767.5px) {
    .column-left-image img{
        display: none;
    }
}

.scrollable {
    margin: 5px;
    padding: 5px;
    height: 400px;
    overflow: auto;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

/* * {
    box-sizing: border-box;
  } */

/* Create two equal columns that floats next to each other */
/* .column-team {
    float: left;
    width: 50%;
    padding: 10px; */

/* Should be removed. Only for demonstration */
/* } */

/* Clear floats after the columns */
/* .row-team:after {
    content: "";
    display: table;
    clear: both;
  }

  @font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts);
  }
  
  .contact-heading { */
/* margin: auto; */
/* width: 70%; */
/* font-family: "Adobe Clean Regular", sans-serif;
    color: #2C2C2C;
  }
  
  .contact-heading h1 {
    font-weight: 900;
  }
  
  .contact-cards {
    overflow-x: hidden;
    margin-top: 7rem ;
  }
  
  .contacts {
    padding: 1rem 0;
  }
  
  .card {
    min-height: 10rem;
    text-align: center;
  }
  
  .card-text {
    min-height: 6rem;
    font-size: 400;
    color: #2C2C2C;
  }
  
  .contact-links { */
/* display: flex; */
/* justify-content: center;
  } */

/* .card-body { */
/* background-color: #9b261b; */
/* border-radius: 0.45rem;
    padding-bottom: 10px;
  } */

/* .card-body p.card-title,
  .card-body p.card-name {
    font-family: "Adobe Clean Light", sans-serif;
    font-size: 20px;
    color: #2C2C2C;
    
    
  }
  
  .card-body p.card-name {
    font-family: "Adobe Clean Regular", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .card-body p.card-title {
      color: grey;
  }
  
  .for-bg{
      padding: 1rem 0;
      background-color: white;
      border-radius: 5px;
      
      
  }
  
  .for-bg p{
      color: #E6E6E6;
  }
  
  .card-img {
    padding-bottom: 2rem;
  }
  
  .card-img img { */
/* width: 20%; */
/* border-radius: 50%; */
/* max-width: 35%;
      max-height:15%;
      float: left;
      padding:1rem;
  }
  
  .card-body p {
    font-family: "Adobe Clean Light", sans-serif;
  }
  
  hr{
      color:grey !important;
      border-top: 1px solid !important;
  }
  
  .scrollable{
      margin:5px;
      padding:5px;
      
      width: 500px;
      height: 500px;
      overflow: auto; */
/* text-align:justify;             */
/* } */

/* @media and (max-width:600px){
    .col-sm-12 .col-md-6 .col-lg-3{
      margin-bottom:1rem;
    }
  } */