@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts);
}

body {
  scroll-behavior: smooth;
}

.photo-gallery {
  background: linear-gradient(
    90deg,
    rgba(203, 0, 255, 1) 0%,
    rgba(206, 5, 240, 1) 3%,
    rgba(231, 47, 142, 1) 45%,
    rgba(232, 48, 139, 1) 46%,
    rgba(248, 75, 75, 1) 81%,
    rgba(255, 86, 51, 1) 100%
  );
  padding: 2rem 6rem 4rem 6rem;
  margin-top: 2.5rem;
  position: relative;
}

.link-anchor{
    text-decoration: none;
    color: white;
    position: absolute;
    right: 5rem;
    font-family: "Adobe Clean Regular";
    letter-spacing: 0.1rem;
}

.link-anchor:hover{
    text-decoration: underline;
    color: white;
}

/* .cmp-carousel {
  width: 50%;
  margin: auto;
  padding: 2rem;
} */

.photo-gallery h1 {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Adobe Clean";
}

.photo-gallery .carousel-item {
  transition: .1s !important;
}

.photo-gallery .cmp-carousel{
    position: relative;
}

@media screen and (max-width: 992px) {
    .photo-gallery .carousel-control-prev{
        left: -4rem;
    }
    .photo-gallery .carousel-control-next{
        right: -4rem;
    }
}

@media screen and (max-width: 1380px) and (min-width: 992px){

    .photo-gallery .carousel-control-prev{
        left: -6rem;
    }
    .photo-gallery .carousel-control-next{
        right: -6rem;
    }
    
}

@media screen and (min-width: 1380px) and (max-width: 1660px) {

    .photo-gallery .carousel-control-prev{
        left: -7.5rem;
    }
    .photo-gallery .carousel-control-next{
        right: -7.5rem;
    }
    
}

@media (max-width: 767px) {
    .photo-gallery .carousel-inner .carousel-item>div {
        display: none;
    }

    .photo-gallery .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.photo-gallery .carousel-inner .carousel-item.active,
.photo-gallery .carousel-inner .carousel-item-next,
.photo-gallery .carousel-inner .carousel-item-prev {
  display: flex;
  gap: 1rem;
}

/* medium and up screens */
@media (min-width: 768px) {
  .photo-gallery .carousel-inner .carousel-item-end.active,
  .photo-gallery .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

    .photo-gallery .carousel-inner .carousel-item-start.active,
    .photo-gallery .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.photo-gallery .carousel-inner .carousel-item-end,
.photo-gallery .carousel-inner .carousel-item-start {
    transform: translateX(0);
}
