body {
    scroll-behavior: smooth;
}

.photo-gallery {
    background: linear-gradient(90deg, rgba(203, 0, 255, 1) 0%, rgba(206, 5, 240, 1) 3%, rgba(231, 47, 142, 1) 45%, rgba(232, 48, 139, 1) 46%, rgba(248, 75, 75, 1) 81%, rgba(255, 86, 51, 1) 100%);
    padding: 1rem;
    margin-top: 2.5rem;
}

.cmp-carousel {
    width: 50%;
    margin: auto;
    padding: 2rem;
}

.photo-gallery h1 {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.photo-gallery .carousel-item {
    gap: 1rem;
    width: 32rem;
}

@media (max-width: 767px) {
    .photo-gallery .carousel-inner .carousel-item>div {
        display: none;
    }

    .photo-gallery .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.photo-gallery .carousel-inner .carousel-item.active,
.photo-gallery .carousel-inner .carousel-item-next,
.photo-gallery .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .photo-gallery .carousel-inner .carousel-item-end.active,
    .photo-gallery .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .photo-gallery .carousel-inner .carousel-item-start.active,
    .photo-gallery .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.photo-gallery .carousel-inner .carousel-item-end,
.photo-gallery .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.photo-gallery .carousel-control-prev {
    left: -5rem;
}

.photo-gallery .carousel-control-next {
    right: -5rem;
}