@font-face {
  font-family: "Adobe Clean";
  src: url(../adobe-clean-cufonfonts/AdobeCleanBlack.otf);
}


.rr-desc {
    background-image: url("../images/rr-bg.png");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rr-2 {
    /* background-image: url("../images/rr-bg.png"); */
  font-size: large;
}

.bg-rr{
    /* background-image: url("../images/rr-bg.png"); */
    /* background-color: black; */
}

.bg-rr .navbar-nav .nav-item .nav-link-1{
    color: black;
}

.center-align span {
  background-image: linear-gradient(45deg, #d20be1, #ca403b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: x-large;
}

hr {
  border-top: 2px solid white !important;
  margin: auto !important;
  width: 50% !important;
}

.text {
  font-family: "Adobe Clean Regular";
}

.text-2 {
  font-family: "Adobe Clean";
}
.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  text-align: center;
}
.rr-top {
  padding: 3rem 9rem 2rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.rr-top .text-2 {
  background-color: white;
  background-image: linear-gradient(45deg, #d20be1, #ca403b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.rr-bottom {
    /* background-image: url("../images/rr-bg.png"); */
}   

.inside-bg {
  padding: 3rem 6rem 2rem 2rem;
}

.awards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.awards img{
    flex: 1;
    width: 22%
}

@media screen and (max-width: 1120px){
    .awards img{
        display: none;
    }
}

.awards .awards-desc{
    flex: 7;
}

.nomination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 10rem;
  /* padding-bottom: 2rem; */
}

.nom-items-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nom-items-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nom-items-1 img{
    width: 90%;
}

.nom-items-2 img{
  width: 90%;
}

.nom-items-1 button {
  border-radius: 5px;
  border: solid 3px transparent;
  /* background-color: #2B1F0D; */
  /* background-color: #78e4ff; */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #9c7247, #edc893);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #2b1f0d inset;
}

.nom-items-2 button {
  border-radius: 5px;
  border: solid 3px transparent;
  /* background-color: #2B1F0D; */
  /* background-color: #78e4ff; */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #9c7247, #edc893);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #2b1f0d inset;
}

.nom-items-1 button span {
  background-color: white;
  background-image: linear-gradient(45deg, #9c7247, #edc893);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nom-items-2 button span {
  background-color: white;
  background-image: linear-gradient(45deg, #9c7247, #edc893);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nom-items-1 button:hover {
  box-shadow: none;
  color: white;
}

.nom-items-2 button:hover {
  box-shadow: none;
  color: white;
}

.nom-items-1 button:hover span {
  background-color: white;
  background-image: linear-gradient(45deg, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nom-items-2 button:hover span {
  background-color: white;
  background-image: linear-gradient(45deg, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.rr-heading {
  color: white;
}

.rr-text {
  color: white;
}


@media screen and (max-width: 851px){
 .nom-items-1 button{
  font-size: 0.7rem;
 }

 .nom-items-2 button{
  font-size: 0.7rem;
 }


 .nom-items-1 img{
  width: 120%;
 }

 .nom-items-2 img{
  width: 120%;
 }
}


@media screen and (max-width: 620px){
  .nom-items-1 button{
   font-size: 0.5rem;
  }
 
  .nom-items-2 button{
   font-size: 0.5rem;
  }
 
 
  .nom-items-1 img{
   width: 180%;
  }
 
  .nom-items-2 img{
   width: 180%;
  }
 }